<!-- <mat-toolbar color="primary" class="mat-elevation-z8 d-flex justify-content-center"> -->
<mat-toolbar color="primary" class=" d-flex justify-content-center">
    &nbsp;&nbsp;
    <img class="logo" src="assets/images/logo-1.jpg" alt="shopMart">&nbsp;&nbsp;

    <div class="input-container">
        <input id="search" placeholder="search products">
        <span class="material-icons icon-container">search</span>
    </div>

    &nbsp;&nbsp;
    <a mat-raised-button color="accent" (click)="openDialog()">Login</a>&nbsp;&nbsp;
    <a mat-button (click)="OpenRegisterDialog(1)">Become a Seller</a>


</mat-toolbar>

<!-- <div class="sale-holder d-flex justify-content-center">
    <img class="sale" src="assets/images/sale-2.avif" alt="shopMart">
</div> -->