<mat-toolbar color="primary" class=" d-flex justify-content-center">
    &nbsp;
    
    <button mat-button [matMenuTriggerFor]="menu1">
        <span class="material-icons">
            menu
        </span>
    </button>

    <mat-menu #menu1="matMenu" class="rotepad">
        <button class="router" mat-menu-item routerLink="/seller-home" >
            <span class="material-icons">home</span>&nbsp;Home
        </button>

        <button class="router" mat-menu-item routerLink="/products-list" >
            <span class="material-icons">inventory_2</span>&nbsp;Manage Products
        </button>

        <button class="router" mat-menu-item routerLink="/products-add" >
            <span class="material-icons">add_box</span>&nbsp;Add Products
        </button>

        <button class="router" mat-menu-item routerLink="/seller-home" >
            <span class="material-icons">list_alt</span>&nbsp;Orders
        </button>
    </mat-menu>

    &nbsp;
    <img class="logo" src="assets/images/logo-1.jpg" alt="shopMart">&nbsp;&nbsp;

    <h1 class="mt-2">Seller Portal</h1>

    <div class="spacer"></div>

    <button mat-button [matMenuTriggerFor]="menu">
        <span class="material-icons">
            account_circle
        </span>
    </button>
    
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <span class="material-icons">
                sync_lock
            </span>
            &nbsp;Change Password
        </button>

        <button mat-menu-item (click)="LogOut()">
            <span class="material-icons">
                logout
            </span>
            &nbsp;Log Out
        </button>
    </mat-menu>

    &nbsp;&nbsp;

</mat-toolbar>
