<mat-toolbar color="primary" class=" d-flex justify-content-center">
    &nbsp;
    <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon [ngClass]="{'rotate': isSidenavOpen}">menu</mat-icon>
    </button>
    &nbsp;
    <img class="logo" src="assets/images/logo-1.jpg" alt="shopMart">&nbsp;&nbsp;

    <div class="spacer"></div>

    <button mat-button [matMenuTriggerFor]="menu"><span class="material-icons">
        account_circle
        </span></button>
    <!-- #enddocregion mat-menu-trigger-for -->
    <mat-menu #menu="matMenu">
        <button mat-menu-item>Change Password</button>
        <button mat-menu-item>Log Out</button>
    </mat-menu>

    &nbsp;&nbsp;



</mat-toolbar>

<mat-sidenav-container [hasBackdrop]="false">
    <mat-sidenav #sidenav mode="side">
        <mat-nav-list>
            <a mat-list-item routerLink="/seller-home">
                <span class="material-icons">home</span>&nbsp;Home
            </a>
            <a mat-list-item routerLink="/add-product">
                <span class="material-icons">add_box</span>&nbsp;Add Product
            </a>
            <!-- <a mat-list-item routerLink="/seller-home">
                <span class="material-icons">list_alt</span>&nbsp;Orders
            </a> -->
            
            <!-- Add more navigation items here -->
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>

        <!-- <app-seller-home-page></app-seller-home-page> -->

    </mat-sidenav-content>
</mat-sidenav-container>