.parent {
  height: 600px;
  width: 450px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spinner {
  height: match-parent;
  width: match-parent;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.parent-2 {
  height: match-parent;
  width: match-parent;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-form-field {
  width: 410px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-container {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
