<div class="parent">
    <div class="spinner" *ngIf="isLoading">
        <div class="spinner-border text-info" style="scale: 2.0;"></div>
    </div>

    <div class="parent-2" *ngIf="!isLoading">
        <div class="p-3" style="align-self: flex-end;">
            <button mat-icon-button mat-dialog-close aria-label="Close">
                <mat-icon>close</mat-icon>
            </button>
        </div>

        <div>
            <h1 style="font-weight: 500;">Reset Password</h1>
            <hr>
        </div>

        <div>
            Enter the OTP received on mail, then enter new password <br>
            and confirm it, Make a strong password.
        </div>

        <div class="mt-4">
            <form [formGroup]="resetPassForm" (ngSubmit)="submitResetForm()">

                <div class="row mb-4">
                    <mat-form-field>
                        <mat-label>Enter OTP</mat-label>
                        <input matInput formControlName="otp" maxlength="6">
                        <mat-error *ngIf="otp.touched && otp.invalid">
                            <span *ngIf="otp.errors?.['required']">OTP required.</span>
                            <span *ngIf="otp.errors?.['pattern']">Please enter a OTP number.</span>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="row mb-4">
                    <mat-form-field>
                        <mat-label>Enter new password</mat-label>
                        <input matInput formControlName="newPassword" [type]="showPassword ? 'text' : 'password'">
                        <span style="scale: 1.3; padding-left: 4%; margin-left: 2%; margin-top: 4%;" class="icon-container">
                            <i class="fa fa-eye-slash" aria-hidden="true" [hidden]="!showPassword"
                                (click)="togglePasswordVisibility()"></i>
                            <i class="fa fa-eye" aria-hidden="true" [hidden]="showPassword"
                                (click)="togglePasswordVisibility()"></i>
                        </span>
                        <mat-error *ngIf="newPassword.touched && newPassword.invalid">
                            <span *ngIf="newPassword.errors?.['required']">Password is required.</span>
                            <span *ngIf="newPassword.errors?.['pattern']">Password must be of 6 to 15 characters with
                                one
                                uppercase, one lowercase and one alphanumeric character.</span>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="row mb-4">
                    <mat-form-field>
                        <mat-label>Confirm your password</mat-label>
                        <input matInput formControlName="confirmPassword" [type]="showPassword ? 'text' : 'password'">
                        <mat-error *ngIf="confirmPassword.touched && confirmPassword.invalid">
                            <span *ngIf="confirmPassword.errors?.['required']">Please, confirm your password.</span>
                            <span *ngIf="resetPassForm.errors?.['notSame']">Password and confirm password does not
                                match.</span>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="row mt-2 mb-2">
                    <button type="submit" (click)="submitResetForm()" style="scale: 1.2;" mat-raised-button color="primary">
                        Reset Password
                    </button>
                </div>

            </form>
        </div>








        <!-- Has your email address or mobile phone number changed?
    If you no longer use the e-mail address associated with your Amazon account, you may contact Customer Service for
    help restoring access to your account. -->
    </div>
</div>