.parent {
  height: 500px;
  width: 350px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.parent-2 {
  height: 500px;
  width: 350px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-form-field {
  width: 300px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
