<div class="parent">
    <div class="p-3" style="align-self: flex-end;">
        <button mat-icon-button mat-dialog-close aria-label="Close">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div>
        <h1>Password assistance</h1>
    </div>

    <!-- <div>
        Enter the email address<br> or mobile phone number 
        associated <br>with your Amazon account.
    </div> -->

    <div>
        Enter the email address associated with <br>your ShopMart account to receive OTP.
    </div>

    <div class="mt-4">
        <form [formGroup]="passForm">
            <div>
                <mat-form-field>
                    <mat-label>Enter your email </mat-label>
                    <input matInput formControlName="email">
                    <mat-error *ngIf="email.touched && email.invalid">
                        <span *ngIf="email.errors?.['required']">Email is required.</span>
                        <span *ngIf="email.errors?.['email']">Please enter a valid email address.</span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="mt-2">
                <!-- <button type="submit" (click)="OpenResetPasswordDialog()" style="scale: 1.2;" mat-raised-button
                    color="primary">
                    Send OTP
                </button> -->
                <button type="submit" (click)="GetOTP()" style="scale: 1.2;" mat-raised-button
                    color="primary">
                    Generate OTP
                </button>
            </div>
        </form>
    </div>


    <div class="mt-2" *ngIf="isFormValid">
        <div *ngIf="!gotError">
           timer and all dummy
        </div>
        <div *ngIf="gotError">
            {{errorMessage}}
        </div>

    </div>





    <!-- Has your email address or mobile phone number changed?
    If you no longer use the e-mail address associated with your Amazon account, you may contact Customer Service for
    help restoring access to your account. -->
</div>