<div class="parent">
    <div *ngIf="isLoading">
        <div class="spinner-border text-info" style="scale: 2.0;"></div>
    </div>

    <div class="parent-2" *ngIf="!isLoading">
        <div class="p-3" style="align-self: flex-end;">
            <button mat-icon-button mat-dialog-close aria-label="Close">
                <mat-icon>close</mat-icon>
            </button>
        </div>

        <div>
            <h1 style="font-weight: 500;">Password assistance</h1>
            <hr>
        </div>

        <div>
            Enter the email address associated with <br>your ShopMart account to receive OTP.
        </div>

        <div class="mt-4">
            <form [formGroup]="passForm">
                <div>
                    <mat-form-field>
                        <mat-label>Enter your email </mat-label>
                        <input matInput formControlName="email" onclick="resetError()">
                        <mat-error *ngIf="email.touched && email.invalid">
                            <span *ngIf="email.errors?.['required']">Email is required.</span>
                            <span *ngIf="email.errors?.['email']">Please enter a valid email address.</span>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="mt-2">
                    <!-- <button type="submit" (click)="OpenResetPasswordDialog()" style="scale: 1.2;" mat-raised-button
                    color="primary">
                    Send OTP
                </button> -->
                    <button type="submit" (click)="GetOTP()" style="scale: 1.2;" mat-raised-button color="primary">
                        Generate OTP
                    </button>
                </div>
            </form>
        </div>


        <div class="mt-4" *ngIf="isFormValid">

            <div class="alert alert-danger" role="alert" *ngIf="gotError">
                {{otpMessage}}
            </div>

        </div>





        <!-- Has your email address or mobile phone number changed?
    If you no longer use the e-mail address associated with your Amazon account, you may contact Customer Service for
    help restoring access to your account. -->
    </div>
</div>